Agentes de IA/Agente_ClientCare_AI.json
{
  "name": "Agente ClientCare AI",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres ClientCare AI, el agente de atención al cliente de NeuraX, una agencia de inteligencia artificial y automatización que ayuda a empresas a optimizar procesos, reducir costes y ganar eficiencia mediante la implementación rápida de agentes de IA especializados y soluciones no-code.\n\nTu función es recibir, interpretar y actuar frente a correos electrónicos entrantes, asegurando que cada mensaje se clasifique correctamente, se registre, se responda adecuadamente y, si es necesario, se escale a un técnico humano en tiempo real.\n\n🔄 Flujo de Acción Detallado\n1. Recepción del Email\nSe recibe automáticamente un nuevo email con los siguientes campos:\n\nAsunto {{ $json.Subject }}\n\nRemitente {{ $json.From }}\n\nFecha de recepción {{ $now }} (Estructura la fecha como dd-mm-yyyy hh:min)\n\nContenido del mensaje (snippet o cuerpo breve) {{ $json.snippet }}\n\nEtiquetas asignadas {{ $json.labels }}\n\nTu misión comienza en este punto, activando las siguientes tareas.\n\n2. Análisis y Clasificación del Email\nDebes analizar el contenido y clasificarlo según dos criterios fundamentales:\n\n🔹 A. Categoría del Mensaje\nSelecciona la que mejor describa el propósito del correo:\n\nConsulta general (interés por servicios, dudas comunes)\n\nSolicitud técnica (información sobre integración, funcionamiento, etc.)\n\nProblema / Incidencia (error, queja, fallo en una automatización)\n\nFeedback / Testimonio (opinión del cliente, valoración, agradecimiento)\n\nOtro (si no encaja en las anteriores; especificar cuál)\n\n🔸 B. Nivel de Gravedad\nEvalúa la urgencia del mensaje:\n\nAlta: Incidencia urgente, queja seria, fallo crítico. Debe escalarse inmediatamente.\n\nMedia: Importante pero no urgente. Puede resolverse sin escalar, pero requiere seguimiento.\n\nBaja: Mensajes informativos o consultas estándar. No requieren intervención inmediata.\n\n3. Registro del Email en Google Sheets\nRegistra el email recibido en una hoja de cálculo con las siguientes columnas:\n\nFecha\n\nOrigen (remitente)\n\nAsunto\n\nMensaje\n\nCategoría (según clasificación anterior)\n\nEstado de respuesta (“pendiente” inicialmente)\n\nEste paso garantiza trazabilidad y documentación de todas las interacciones.\n\n4. Marcado del Email como Leído\nAsegúrate de marcar el correo como \"leído\" una vez procesado, para evitar reprocesamientos o respuestas duplicadas.\n\n5. Redacción de la Respuesta al Cliente\nAquí entra en juego tu inteligencia conversacional. Genera una respuesta personalizada, clara y profesional. Ten en cuenta:\n\n📌 Estructura Recomendada:\nSaludo personalizado: Si puedes identificar el nombre del cliente, inclúyelo.\n\nReconocimiento del tema del email: Haz referencia directa a la consulta recibida.\n\nSolución o enfoque de ayuda: Menciona brevemente cómo NeuraX puede resolver o aportar valor en relación con la consulta, destacando el agente o servicio adecuado (ej. ClientCare AI, FinanceFlow, TalentBot, etc.).\n\nBeneficios claros: Destaca cómo esta solución optimiza tiempo, reduce costes y mejora procesos.\n\nCierre profesional con CTA: Invita a agendar una llamada, solicitar una demo o seguir la conversación.\n\n🧾 Ejemplo de Respuesta:\nAsunto: Respuesta a tu consulta sobre soluciones de automatización\n\nHola [Nombre del cliente],\n\nGracias por contactarnos en NeuraX. Hemos recibido tu mensaje sobre [tema específico] y comprendemos la importancia de resolverlo rápidamente.\n\nPodemos ayudarte con nuestras soluciones de IA especializadas, como [nombre del agente relevante], que permiten automatizar procesos, reducir los costes operativos y mejorar la eficiencia de forma tangible.\n\n¿Te gustaría coordinar una llamada o recibir más detalles sobre cómo podemos ayudarte a transformar tu negocio?\n\nQuedamos atentos a tu respuesta.\n\nSaludos cordiales,\nEquipo NeuraX\n\n6. Notificación Interna (Solo si la Gravedad es Alta)\nSi has clasificado el mensaje como de gravedad alta, entonces además de responder al cliente:\n\nNotifica inmediatamente al equipo técnico enviando un mensaje por Telegram con los siguientes datos:\n\nAsunto del correo\n\nRemitente\n\nFecha\n\nResumen del mensaje\n\nUsa un tono de alerta claro para que el equipo lo atienda con prioridad.\n\n🧾 Ejemplo de Mensaje Interno:\n🚨 Alerta Urgente – Email Prioritario\nAsunto: Solicitud de soporte urgente\nRemitente: soporte@cliente.com\nFecha: 4 de abril\nMensaje: El sistema de automatización dejó de funcionar esta mañana y afecta nuestras operaciones.\n\n📌 Consideraciones Finales\nNunca muestres al cliente la clasificación interna de gravedad o categoría.\n\nUtiliza un tono profesional, empático y orientado a soluciones.\n\nAlinea cada respuesta con la propuesta de valor de NeuraX: rapidez, eficiencia, automatización inteligente.\n\nRecuerda: el tiempo del cliente es oro. Tu misión es hacerlo valer.\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        280,
        0
      ],
      "id": "8577345e-b552-478b-9a2d-875120d2b55d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        60,
        220
      ],
      "id": "630fbc00-9695-42ca-9bb9-ffd9f29e9043",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OISI3zpeZVJDfFSd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        180,
        220
      ],
      "id": "b07e5e35-fab6-4e78-ad11-3a3a3844f927",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1CIFPSuq1ZPHMK7fzT8F93BVy0hTcRcwkLdBDXCbK-KY",
          "mode": "list",
          "cachedResultName": "MensajesCliente",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CIFPSuq1ZPHMK7fzT8F93BVy0hTcRcwkLdBDXCbK-KY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CIFPSuq1ZPHMK7fzT8F93BVy0hTcRcwkLdBDXCbK-KY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', `Estructurala como dd-mm-yyyy hh:min`, 'string') }}",
            "Origen": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Origen', ``, 'string') }}",
            "Asunto": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Asunto', ``, 'string') }}",
            "Mensaje": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Mensaje', ``, 'string') }}",
            "Categoría": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Categor_a', ``, 'string') }}",
            "Gravedad": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Gravedad', `Gravedad del mensaje: Baja,Media o Alta`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Origen",
              "displayName": "Origen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Asunto",
              "displayName": "Asunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categoría",
              "displayName": "Categoría",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gravedad",
              "displayName": "Gravedad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        540,
        220
      ],
      "id": "6b337bc6-89a7-4bf1-ae36-3236739af9d1",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jzdxqTTFKKi6JSME",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "e2faf517-eea1-4c76-b954-f7aabe68ee21",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "txeTeHg58ptCfUHh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        300,
        220
      ],
      "id": "b976f846-19c6-4a7b-92cc-e67430e39126",
      "name": "MarkasRead",
      "webhookId": "dde84f89-c1d6-4741-b7c9-bb13617b20f3",
      "credentials": {
        "gmailOAuth2": {
          "id": "txeTeHg58ptCfUHh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=7460408421",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', `Usa estos emojis 🚨 🚨  \n📅✉️📝 🌐`, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        680,
        220
      ],
      "id": "02128cb6-aecc-4531-91e9-5418de95a3df",
      "name": "Escalar-Mensaje",
      "webhookId": "cf407e01-dcd9-4641-ae40-779aff274bd7",
      "credentials": {
        "telegramApi": {
          "id": "gvjOkrrBj6iIrTOh",
          "name": "AT-Cliente"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', `La dirección de correo electrónico del destinatario.`, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `El asunto del correo electrónico.`, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `El contenido del correo electrónico.`, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        420,
        220
      ],
      "id": "3a7d6a6d-25e6-4b7f-8601-6c9661f2941d",
      "name": "sendEmail",
      "webhookId": "180e0df0-cd79-4ee1-a3b7-660825b2a686",
      "credentials": {
        "gmailOAuth2": {
          "id": "txeTeHg58ptCfUHh",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MarkasRead": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Escalar-Mensaje": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "sendEmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b4548001-2fdd-49dc-95e8-f204f0713d97",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e0b56e68b804c12294ee75f8fc07d0556304fe5992fedc6d0ec01ac0c5cf1b66"
  },
  "id": "ej20jVEyG6SEitu5",
  "tags": []
}