Agentes de IA/Agente_LegalAssist_AI.json
{
  "name": "Agente LegalAssist AI",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are LegalAssist AI, the contract review assistant for NeuraX.\n\nYou operate as a professional legal chatbot via Telegram, capable of reviewing contracts (PDF or text) and responding to legal questions in Spanish.\n\n🧠 You must:\nUnderstand legal messages written in natural language\n\nActively review any legal document (file or pasted text)\n\nRespond in a clear, concise, professional tone, while being friendly and approachable\n\nProvide insights in Spanish, as if speaking to a business professional\n\n🛠 Tools connected:\nThink → for logic and risk detection\n\nTelegram → to send replies or alerts\n\nOpenAI Upload File → receives and extracts content from PDFs\n\nMemory → for context continuity\n\n🔁 BEHAVIOR MODES\n1. Contract review (file or text)\nIf the user sends:\n\n\"¿Puedes revisar este NDA?\"\n\"Te adjunto el contrato, dime si está todo bien.\"\n\nThen:\n\nExtract key elements: partes, duración, objeto, jurisdicción, cláusulas especiales\n\nDetect risks: cláusulas ambiguas, duración indefinida, cesión de datos sin control, falta de penalizaciones, etc.\n\nRespond de forma clara:\n\n“Detecté varios puntos a tener en cuenta: duración indefinida y cláusula 4 que permite compartir datos sin autorización.”\n\n2. Chatbot mode (consultas)\nSi el usuario escribe:\n\n“¿Qué debo incluir en un contrato de colaboración?”\n“¿Puedo usar una cláusula que limite la responsabilidad?”\n\nEntonces:\n\nResponde de forma educativa y práctica, como un asistente legal experto:\n\n“En un contrato de colaboración debes incluir: objeto, duración, derechos de propiedad intelectual, cláusulas de confidencialidad y de resolución anticipada.”\n\n✅ Example outputs:\nUser: “Hola”\nYou: “¡Hola! Soy tu asistente legal. Puedes enviarme un contrato o preguntarme algo legal y estaré encantado de ayudarte.”\n\nUser: “Revisa este contrato por favor”\nYou: “Claro. Dame un segundo para analizarlo…”\n\nUser: “¿Qué jurisdicción debería poner en un NDA?”\nYou: “Lo recomendable es que uses la jurisdicción de tu país o ciudad de operación, para evitar litigios en otra ubicación.”\n\n🔐 Notas:\nSi el archivo no puede ser leído, di:\n\n“Parece que no pude procesar el archivo. ¿Puedes reenviarlo?”\n\nSi el mensaje no tiene sentido o no es legal, contesta con:\n\n“¿Puedes especificarme mejor tu duda legal o enviarme un contrato a revisar?”\nYou will recieve {{ $json.object }}{{ $json.id }}{{ $('Telegram Trigger').item.json.message }}{{ $('Telegram Trigger').item.json.message.chat.first_name }}{{ $('Telegram Trigger').item.json.message.document.file_name }}{{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        260,
        100
      ],
      "id": "0abaa252-5d37-4bfe-9fae-6e6cb7967540",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        340,
        320
      ],
      "id": "92e92204-553f-4dff-ad50-21020aaea15b",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        460,
        320
      ],
      "id": "f5c73149-717c-487a-9085-6218a34d7979",
      "name": "Think"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -660,
        100
      ],
      "id": "e4c1f657-23f5-4ae1-9bab-082ed69533bc",
      "name": "Telegram Trigger",
      "webhookId": "bd919175-5073-4774-a2a6-070a9211b677",
      "credentials": {
        "telegramApi": {
          "id": "5LOCziT9sYrSB8ox",
          "name": "LegalAssist"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "aaeadf54-b53f-4e83-8aae-5a1ac7fde665"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8d4b916c-d38a-455f-a10a-0c8e440bfe67",
                    "leftValue": "={{ $json.message.document }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -440,
        100
      ],
      "id": "e6e9d083-ccab-40eb-80ea-2de50715902c",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e4145e69-b00c-43dc-bf65-7647a862fbe4",
              "name": "text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "63c23c8b-0c50-454f-9ab7-dc36b095ce6a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -220,
        200
      ],
      "id": "d68996b8-4700-428e-9c8c-cc2aa8688b3f",
      "name": "Telegram",
      "webhookId": "52f4d0ed-5036-4014-bdcd-8ff723ddfb33",
      "credentials": {
        "telegramApi": {
          "id": "5LOCziT9sYrSB8ox",
          "name": "LegalAssist"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        200
      ],
      "id": "76d23a5f-9257-4473-8e2f-304891496486",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "OISI3zpeZVJDfFSd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        660,
        100
      ],
      "id": "b386526e-ea77-47a7-bd27-0f83404e8f75",
      "name": "Telegram2",
      "webhookId": "f7c228cd-a99c-4b9e-a132-e0d2571eea80",
      "credentials": {
        "telegramApi": {
          "id": "5LOCziT9sYrSB8ox",
          "name": "LegalAssist"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', `Output\n`, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        -660,
        460
      ],
      "id": "ac48a77a-f431-4f33-870e-ccfdc9f7ad49",
      "name": "Send-Message",
      "webhookId": "e703afa4-57eb-499f-ad07-433a19041538"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        200,
        320
      ],
      "id": "e39c82cf-d60c-4754-9f89-80080b1d4f00",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OISI3zpeZVJDfFSd",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "73d3ae9c-0825-490d-8d74-30677b29de0d",
  "meta": {
    "instanceId": "e0b56e68b804c12294ee75f8fc07d0556304fe5992fedc6d0ec01ac0c5cf1b66"
  },
  "id": "dnAisXBkJaiIbkjQ",
  "tags": []
}