Agentes de IA/MyInvestor_AI.json
{
  "name": "MyInvestor AI",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1540,
        1400
      ],
      "id": "1b233c49-31d0-4147-9866-244df376136d",
      "name": "Telegram Trigger",
      "webhookId": "5f3fe51b-27a9-41ba-927e-f00ea5ae79c2",
      "credentials": {
        "telegramApi": {
          "id": "AqPjVsIHXOznFS3j",
          "name": "MyInvestor"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "0e59bc64-b733-4dba-9d73-29ec7205761f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8d4b916c-d38a-455f-a10a-0c8e440bfe67",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3e7e01fa-43fd-4ea5-86b9-8d238a7402a7",
                    "leftValue": "={{ $json.message.photo[0].file_id }}",
                    "rightValue": "image/png",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1320,
        1400
      ],
      "id": "a21de101-c053-4465-973b-bb190dfdccd6",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e4145e69-b00c-43dc-bf65-7647a862fbe4",
              "name": "text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -820,
        1220
      ],
      "id": "2a2a39d3-7801-43ba-ac8a-29a483cf70d6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un agente financiero muy profesional como Warren Buffet, inteligente y multimodal. Tu objetivo es ayudar al usuario a analizar y aconsejar sobre sus inversiones, ya sea a partir de texto, audios o imágenes. Eres directo, profesional, vas al grano y decidido, no te andas por las ramas. Arriesgate a responder preguntas difíciles básate en noticias y datos. Pero no me vale que tus respuestas estén condicionadas a mis acciones o deseos.\n\nRecibes información desde tres fuentes:\n- Texto del usuario (preguntas, comandos, mensajes naturales)\n- Imágenes (capturas de pantalla de apps financieras)\n- Audios (mensajes hablados que ya han sido transcritos)\n{{ $('Telegram Trigger').item.json.message.from.first_name }}{{ $('Telegram Trigger').item.json.message.from.last_name }}{{ $('Telegram Trigger').item.json.message.text }}{{ $json.text }}\n\n\nTienes acceso a estas herramientas:\n- 📊 Google Sheets: contiene su cartera de inversiones (cripto, acciones, ETFs)\n- 📈 QuickChart: genera gráficos visuales de activos o evolución de portafolio\n- 🧠 Think: resuelve tareas complejas, escenarios hipotéticos y análisis profundo\n- 🔍 SerpAPI: busca noticias actuales, contexto de mercado, información de empresas\n- 🧮 Calculadora: realiza operaciones financieras\n- 🪙 CoinGecko: consulta precios actualizados de criptomonedas (ej: BTC, ETH, SOL)\n- 📉 AlphaVantage: consulta precios de acciones o ETFs (ej: SXR8.DE, SPY5.L)\n- 📬 Telegram: responde con mensajes visuales, claros y con emojis para dar contexto\n\n---\n\n🎯 Tu misión:\n1. Entender qué quiere el usuario: ¿estado de su cartera?, ¿opinión de una inversión?, ¿ver un gráfico?, ¿noticias?, ¿precio actual?\n2. Si envía una imagen → analiza y extrae datos financieros\n3. Si es texto o audio → interpreta como comando o pregunta\n4. Usa **Google Sheets** para obtener datos de su cartera personal\n5. Usa **CoinGecko** para criptomonedas y **AlphaVantage** para acciones/ETFs\n6. Genera gráficos con **QuickChart** si se solicita visualización\n7. Da tu opinión como un experto en finanzas si te pregunta “¿qué opinas de...?”\n8. Usa **Think** para análisis de riesgo, escenarios futuros, o recomendaciones complejas\n9. Si el usuario pregunta por “noticias”, “tendencias” o “últimas novedades”, usa **SerpAPI**\n10. Si hay que calcular ganancias, medias, o comparativas, usa la **Calculadora**\n\n---\n\nAdemás, puedes modificar la hoja de Google Sheets si el usuario te lo pide.\n\nSi el usuario dice cosas como:\n- “Actualiza los precios actuales”\n- “Añade el valor actual de las inversiones”\n- “Calcula el rendimiento de mi cartera”\n- “Actualiza la tabla con lo más reciente”\n\nEntonces debes:\n1. Usar CoinGecko para obtener el precio actualizado de las criptomonedas.\n2. Usar AlphaVantage para obtener el precio actualizado de acciones y ETFs.\n3. Actualizar en la hoja de Google Sheets los siguientes campos por cada activo:\n   - PrecioActual\n   - Rendimiento€ = ValorActual - (Cantidad × PrecioCompra)\n   - Rendimiento% = (Rendimiento€ / (Cantidad × PrecioCompra)) × 100\n\nDespués, responde al usuario de forma clara con un resumen:\n- Qué activos se han actualizado\n- Cuáles tienen ganancias o pérdidas\n- Los valores calculados\n\nUsa negritas y emojis para hacer más visual tu respuesta. Sé directo y profesional en el análisis.\n\nUn posible ejemplo: 📊 **Actualización completada de tu cartera**\n\n✅ BTC — Precio actual: $63,200\n💹 Rentabilidad: **+12.4%** 📈\n\n❌ ADA — Precio actual: $0.58\n📉 Rentabilidad: **-7.1%**\n\nToda la tabla ha sido actualizada con los valores actuales.\n\n---\n\n🔁 Ejemplos:\n- “¿Cómo va mi inversión en ADA?” → Usa Google Sheets + CoinGecko + Calculadora\n- “¿Qué te parece la inversión en SPY5.L?” → Usa AlphaVantage + Google Sheets + Think\n- “Enséñame el gráfico de Bitcoin” → Usa QuickChart\n- “¿Qué ha pasado con XRP esta semana?” → Usa SerpAPI\n\nResponde como un asesor financiero **profesional, directo, empático y claro**. Usa **negritas para destacar** datos importantes. Siempre incluye emojis que refuercen visualmente el mensaje.\n\nCuando no encuentres datos, informa con claridad (ej. “No encontré ese activo en tu hoja de inversiones” o “No puedo detectar el precio en la imagen”).\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -320,
        1400
      ],
      "id": "e8d85127-656b-4c1c-b6e0-1f894db8ca19",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -700,
        1400
      ],
      "id": "7d312b24-4d24-4b51-b569-044efeffc2f5",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "si3KDv3BHVPFdg9R",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -700,
        1600
      ],
      "id": "923bfb61-ef8d-4a14-9e9a-a823269b23b7",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "si3KDv3BHVPFdg9R",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -960,
        1400
      ],
      "id": "f308be8b-0ebd-456e-8ab6-b724efe5bdce",
      "name": "Telegram-audio",
      "webhookId": "52f4d0ed-5036-4014-bdcd-8ff723ddfb33",
      "credentials": {
        "telegramApi": {
          "id": "AqPjVsIHXOznFS3j",
          "name": "MyInvestor"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[0].file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -960,
        1600
      ],
      "id": "49308b91-7c1b-4f82-8998-a4f845a52ab1",
      "name": "Telegram-img",
      "webhookId": "52f4d0ed-5036-4014-bdcd-8ff723ddfb33",
      "credentials": {
        "telegramApi": {
          "id": "AqPjVsIHXOznFS3j",
          "name": "MyInvestor"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -500,
        1620
      ],
      "id": "2500279a-cda8-4b33-8032-f834768ca051",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "si3KDv3BHVPFdg9R",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -380,
        1620
      ],
      "id": "2ac1050d-b8af-4e07-825c-ded4dd34cd9f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17DGh6BacVSRUhumCZU_IXZxRxMhOYZFEDGWi1T2yEjA",
          "mode": "list",
          "cachedResultName": "Cartera-Diego",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17DGh6BacVSRUhumCZU_IXZxRxMhOYZFEDGWi1T2yEjA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1660162017,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17DGh6BacVSRUhumCZU_IXZxRxMhOYZFEDGWi1T2yEjA/edit#gid=1660162017"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        420,
        1560
      ],
      "id": "ff8582d2-ad70-4e72-a113-68045218e6c1",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6up2ZENoF8W0zM34",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "labelsUi": {
          "labelsValues": [
            {
              "label": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('labelsValues0_Label', ``, 'string') }}"
            }
          ]
        },
        "data": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Data', ``, 'json') }}",
        "output": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Put_Output_In_Field', ``, 'string') }}",
        "chartOptions": {},
        "datasetOptions": {}
      },
      "type": "n8n-nodes-base.quickChartTool",
      "typeVersion": 1,
      "position": [
        60,
        1680
      ],
      "id": "f47a9b81-37ed-4efa-a179-adf1651e89cd",
      "name": "QuickChart1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        120,
        1240
      ],
      "id": "44611542-e29e-4906-b691-a0fc0c4b463e",
      "name": "Telegram1",
      "webhookId": "17aef53e-d15b-42b4-b1e6-89494225729c",
      "credentials": {
        "telegramApi": {
          "id": "AqPjVsIHXOznFS3j",
          "name": "MyInvestor"
        }
      }
    },
    {
      "parameters": {
        "description": "Usa esta herramienta cuando la tarea suponga dificultad"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        180,
        1680
      ],
      "id": "707e35a8-8dba-4201-b799-01b6170d321f",
      "name": "Think"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -300,
        1880
      ],
      "id": "fad4b3a2-eed1-4c23-a28e-4e0ea57808f2",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "swjuKWIbJaWof3Ab",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        300,
        1680
      ],
      "id": "2cbdcc57-62fc-498a-96ff-8a3d87885f07",
      "name": "Calculator"
    },
    {
      "parameters": {
        "toolDescription": "Consulta precios actuales de criptomonedas desde CoinGecko (SOL, BTC, ETH, XRP, etc.)\n",
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=solana,bitcoin,ethereum,xrp,pepe,cardano,hedera-hashgraph&vs_currencies=usd",
        "options": {},
        "optimizeResponse": true
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -160,
        1880
      ],
      "id": "c02d1971-130f-4c00-ba19-ce2042a40a7a",
      "name": "HTTP Request Coingecko"
    },
    {
      "parameters": {
        "toolDescription": "Consulta precios actuales de acciones y ETFs",
        "url": "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=SPY&interval=1min&apikey=NVPY6S265RRITMFI",
        "options": {},
        "optimizeResponse": true,
        "dataField": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Field_Containing_Data', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -20,
        1880
      ],
      "id": "afc2f4be-ecea-46f7-957d-e2fbd806bef6",
      "name": "HTTP Request AlphaVantage",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "17DGh6BacVSRUhumCZU_IXZxRxMhOYZFEDGWi1T2yEjA",
          "mode": "list",
          "cachedResultName": "Cartera-Diego",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17DGh6BacVSRUhumCZU_IXZxRxMhOYZFEDGWi1T2yEjA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1660162017,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17DGh6BacVSRUhumCZU_IXZxRxMhOYZFEDGWi1T2yEjA/edit#gid=1660162017"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Activo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Activo__using_to_match_', ``, 'string') }}",
            "Rendimiento€": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Rendimiento_', ``, 'string') }}",
            "Rendimiento%": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Rendimiento_', ``, 'string') }}",
            "PrecioActual": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('PrecioActual', `Sacalo usando los nodos de HTTP Request`, 'string') }}"
          },
          "matchingColumns": [
            "Activo"
          ],
          "schema": [
            {
              "id": "Activo",
              "displayName": "Activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cantidad",
              "displayName": "Cantidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PrecioCompra",
              "displayName": "PrecioCompra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FechaCompra",
              "displayName": "FechaCompra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CosteCompra",
              "displayName": "CosteCompra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PrecioActual",
              "displayName": "PrecioActual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ValorActual",
              "displayName": "ValorActual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Rendimiento€",
              "displayName": "Rendimiento€",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rendimiento%",
              "displayName": "Rendimiento%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Moneda",
              "displayName": "Moneda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        420,
        1400
      ],
      "id": "2143c8b9-60d3-4c4a-a942-a9c31413e49e",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6up2ZENoF8W0zM34",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram-audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram-img",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram-audio": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram-img": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "QuickChart1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Coingecko": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request AlphaVantage": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "78f1719f-1dc8-4373-b38a-9e03907da1db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b1f7ff4bb714c410e6574f71aaf6f2b74261ba0f2c81c124245e96b48350bd00"
  },
  "id": "LbQjpJnZXx5XKRpN",
  "tags": []
}