Agentes de IA/OfficeAssist Agent/Agente_Total_copy.json
{
  "name": "Agente Total copy",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -620,
        130
      ],
      "id": "e53b4ef9-0bbb-4c20-bce4-4577dc17053c",
      "name": "Telegram Trigger",
      "webhookId": "cc1b04b9-edad-470b-a42a-a0e5fce281b5",
      "credentials": {
        "telegramApi": {
          "id": "jSN5Wvm4Tr4GsGGK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8d4b916c-d38a-455f-a10a-0c8e440bfe67",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -400,
        130
      ],
      "id": "0eb7f412-1ab7-4c28-8644-d4502402ecc1",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e4145e69-b00c-43dc-bf65-7647a862fbe4",
              "name": "text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -60,
        40
      ],
      "id": "4674402a-1c74-4c39-bbde-6b76c167fc6c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# Rol\nEres el asistente personal de Diego. Dispones de múltiples herramientas y actuarás con profesionalismo, dinamismo e innovación, adaptándote a las necesidades de cada tarea.\n\n# Comportamiento\n\nResponde de forma concisa, clara y directa, sin rodeos, pero manteniendo siempre un tono amigable, empático y profesional.\n\nUtiliza el humor ágil e inteligente cuando sea apropiado.\n\nMantente enfocado en la tarea y adapta tus respuestas al contexto, aprovechando la memoria de conversaciones previas para brindar respuestas coherentes y consistentes.\n\n# Fecha y Hora\nFecha y hora actuales: {{ $now }}\n\n# Herramientas Disponibles\nUtiliza la herramienta adecuada de MCP Client según la tarea que se te pregunte.\n\n\n# Manejo de Contexto y Memoria\n\nRecuerda la información previa de la conversación para mantener la coherencia en las respuestas.\n\nSi la información proporcionada es insuficiente para dar una respuesta completa, solicita al usuario una clarificación antes de continuar.\n\n# Directrices Adicionales y Restricciones\n\nNo incluyas información irrelevante o detalles inventados.\n\nSi encuentras ambigüedad en la tarea, pide aclaraciones de inmediato.\n\nMantén siempre el estilo formal y profesional, adaptado al contexto del usuario.\n\n# Formato de Respuesta\n\nOrganiza tus respuestas en secciones o listas cuando sea necesario para facilitar la comprensión.\n\nSi la tarea involucra el envío de un correo electrónico, asegúrate de estructurarlo correctamente (saludo, cuerpo, cierre y firma “NeuraX”).\n\nUsa emojis cuando te comuniques por Telegram.\n\n# Conclusión\nActúa de forma proactiva, resolutiva e innovadora, asegurándote de utilizar el lenguaje y el tono adecuados para cada situación. Adapta tus respuestas de acuerdo a las herramientas disponibles y la información proporcionada, siempre con un enfoque directo y profesional.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        300,
        140
      ],
      "id": "4dd59dfc-d882-4c70-9d5f-e772d580cdcb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -180,
        230
      ],
      "id": "c397b24f-ebee-46d1-872e-dadd9ca9648c",
      "name": "Telegram",
      "webhookId": "dd00ab51-5fee-48ab-b7c7-ee87171ac93a",
      "credentials": {
        "telegramApi": {
          "id": "jSN5Wvm4Tr4GsGGK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        40,
        230
      ],
      "id": "44099743-cc20-471a-9544-193f1510f5eb",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ly68iNqDXE2rlgRe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Switch').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        380,
        350
      ],
      "id": "6aa241b5-1486-45cd-92a6-087af3b19816",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        778,
        280
      ],
      "id": "86b3235d-a6c3-4a26-a669-5f736820e4ff",
      "name": "Telegram1",
      "webhookId": "048c7e11-59d1-4e26-be17-fa3da411dfc8",
      "credentials": {
        "telegramApi": {
          "id": "jSN5Wvm4Tr4GsGGK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are Sally, a funny guy that makes sarcastic comments and funny anekdotes about topics.\nYou try to roast the topics and insult a bit.\nYou answer really short, just 1 punnchy lines.\n\ntopics: {{ $json.output }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        700,
        -120
      ],
      "id": "655baa37-3fa8-406d-9a32-4b458fcc5cd3",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        780,
        60
      ],
      "id": "e78c7906-dd73-4dad-85af-50d72c237d02",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ly68iNqDXE2rlgRe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "model": "tts-1-hd",
        "input": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1076,
        -20
      ],
      "id": "66b1aaa6-a445-4461-adb1-02f15f9147a4",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "ly68iNqDXE2rlgRe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1296,
        -20
      ],
      "id": "62eda5af-e748-4dd9-af3e-c224b3d11935",
      "name": "Telegram2",
      "webhookId": "c0425cef-e07b-400b-9eed-dac833850eee",
      "credentials": {
        "telegramApi": {
          "id": "jSN5Wvm4Tr4GsGGK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        260,
        350
      ],
      "id": "31f244fc-0a59-49d1-8763-97abc4ec90cf",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "fLDtOsKQQqHZ6y4D",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sseEndpoint": "=https://diegoperez.app.n8n.cloud/mcp-test/a27e5c7a-aed0-495a-a2b3-3c82153a6ecf/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        500,
        350
      ],
      "id": "4479972e-222a-4892-a013-a49baf2d0bcb",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "path": "a27e5c7a-aed0-495a-a2b3-3c82153a6ecf"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 1,
      "position": [
        520,
        1140
      ],
      "id": "f2bbe064-8729-49b1-b599-806f80d9a4cf",
      "name": "MCP Server Trigger",
      "webhookId": "a27e5c7a-aed0-495a-a2b3-3c82153a6ecf"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `El ID del mensaje del correo electrónico.`, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        760,
        1420
      ],
      "id": "095eb3d2-711d-4f78-a4bf-4049626208da",
      "name": "markRead",
      "webhookId": "c0ae7f4e-31be-41cd-a899-883b4f5685f6",
      "credentials": {
        "gmailOAuth2": {
          "id": "GTyliMmEKBtZtOwc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `El asunto del correo electrónico.`, 'string') }}",
        "emailType": "html",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `El mensaje del correo electrónico.`, 'string') }}",
        "options": {
          "threadId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Thread_ID', `El ID del hilo del correo electrónico al que debes responder.`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        600,
        1420
      ],
      "id": "a3db5c30-301f-49fa-8e40-f08bc722ebbe",
      "name": "saveReplyDraft",
      "webhookId": "0d64fe08-acf1-4900-99f5-0a34c3b86dbf",
      "credentials": {
        "gmailOAuth2": {
          "id": "GTyliMmEKBtZtOwc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "simple": false,
        "filters": {
          "labelIds": [
            "UNREAD",
            "INBOX"
          ],
          "sender": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender', `El remitente del correo electrónico.`, 'string') }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        40,
        1420
      ],
      "id": "1a66bae2-0ca9-4c0a-acd1-a8180825d79d",
      "name": "getEmails",
      "webhookId": "312f5bbf-7614-4d1a-befc-7592c0367f92",
      "credentials": {
        "gmailOAuth2": {
          "id": "GTyliMmEKBtZtOwc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `El ID del hilo del correo electrónico al que debes responder.`, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `El contenido del correo electrónico.`, 'string') }}",
        "options": {
          "appendAttribution": false,
          "senderName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender_Name', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        460,
        1420
      ],
      "id": "e1927112-4111-43dd-bd17-1a2972033c54",
      "name": "sendReply",
      "webhookId": "bc2509c0-b19d-497e-b0ca-e22aa4c362f2",
      "credentials": {
        "gmailOAuth2": {
          "id": "GTyliMmEKBtZtOwc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', `La dirección de correo electrónico del destinatario.`, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `El asunto del correo electrónico.`, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `El contenido del correo electrónico.`, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        180,
        1420
      ],
      "id": "e8306455-1610-402b-919a-470511270caf",
      "name": "sendEmail",
      "webhookId": "180e0df0-cd79-4ee1-a3b7-660825b2a686",
      "credentials": {
        "gmailOAuth2": {
          "id": "GTyliMmEKBtZtOwc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `El asunto del correo electrónico.`, 'string') }}",
        "emailType": "html",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `El mensaje del correo electrónico.`, 'string') }}",
        "options": {
          "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To_Email', `El correo electrónico del destinatario.`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        320,
        1420
      ],
      "id": "149bf4a4-3941-474c-8707-ee013b5a01f8",
      "name": "saveEmailDraft",
      "webhookId": "82eec91a-c9a1-40ed-bfc8-556c153390f7",
      "credentials": {
        "gmailOAuth2": {
          "id": "GTyliMmEKBtZtOwc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsUnread",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `El ID del mensaje del correo electrónico.`, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        920,
        1420
      ],
      "id": "2cbab7be-4557-4372-9cf3-019ab41f5e79",
      "name": "markUnread",
      "webhookId": "438ce016-c775-4f22-943e-619915336683",
      "credentials": {
        "gmailOAuth2": {
          "id": "GTyliMmEKBtZtOwc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `El ID del mensaje.`, 'string') }}",
        "labelIds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', `El ID de la etiqueta.`, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1220,
        1420
      ],
      "id": "0690fff6-3ec0-4103-ba12-568bb78790cb",
      "name": "labelEmails",
      "webhookId": "9af105a2-4f93-4089-8908-ffb714bf1740",
      "credentials": {
        "gmailOAuth2": {
          "id": "GTyliMmEKBtZtOwc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "label"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1080,
        1420
      ],
      "id": "8713fc28-eb90-4358-9604-4e9be2dbdbcb",
      "name": "getLabels",
      "webhookId": "39cedbc5-7f7a-4900-889d-51d32f38d69b",
      "credentials": {
        "gmailOAuth2": {
          "id": "GTyliMmEKBtZtOwc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UH1MtHWwe7rx1Ns44mQ3NKvBbm1cEnLGCtcldKGxUC8",
          "mode": "list",
          "cachedResultName": "Contactos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UH1MtHWwe7rx1Ns44mQ3NKvBbm1cEnLGCtcldKGxUC8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1921102704,
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UH1MtHWwe7rx1Ns44mQ3NKvBbm1cEnLGCtcldKGxUC8/edit#gid=1921102704"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1100,
        1160
      ],
      "id": "bd1b2fdc-bc7a-424f-85b9-991de959b936",
      "name": "getContacts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "M9V4oAoO54w0PNDS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1UH1MtHWwe7rx1Ns44mQ3NKvBbm1cEnLGCtcldKGxUC8",
          "mode": "list",
          "cachedResultName": "Contactos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UH1MtHWwe7rx1Ns44mQ3NKvBbm1cEnLGCtcldKGxUC8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1921102704,
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UH1MtHWwe7rx1Ns44mQ3NKvBbm1cEnLGCtcldKGxUC8/edit#gid=1921102704"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Names",
              "displayName": "Names",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Emails",
              "displayName": "Emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1260,
        1160
      ],
      "id": "ce573582-2107-48a7-99cc-8efff129906f",
      "name": "addContact",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "M9V4oAoO54w0PNDS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "agencianeurax@gmail.com",
          "mode": "list",
          "cachedResultName": "agencianeurax@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `El ID del evento.`, 'string') }}",
        "updateFields": {
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `La hora de finalización del evento.`, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `La hora de inicio del evento.`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        400,
        920
      ],
      "id": "a2adc55c-b06e-434c-880a-9f73a74915f7",
      "name": "updateEvent",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8e2nRfMCQ7l2dW3g",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "agencianeurax@gmail.com",
          "mode": "list",
          "cachedResultName": "agencianeurax@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `El ID del evento.`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        540,
        920
      ],
      "id": "e0922a97-0d32-480a-af61-2dc91aae3781",
      "name": "deleteEvent",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8e2nRfMCQ7l2dW3g",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "agencianeurax@gmail.com",
          "mode": "list",
          "cachedResultName": "agencianeurax@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `El día anterior a la fecha solicitada por el usuario.`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `El día siguiente a la fecha solicitada por el usuario.`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        80,
        920
      ],
      "id": "ff9380be-c2e2-4786-beed-cec9788ee809",
      "name": "getEvents",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8e2nRfMCQ7l2dW3g",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "agencianeurax@gmail.com",
          "mode": "list",
          "cachedResultName": "agencianeurax@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Hora de inicio del evento`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `Hora del fin del evento`, 'string') }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Título del evento`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -60,
        920
      ],
      "id": "ebd31270-e1b1-4315-8004-4550356a7ed5",
      "name": "createEvent",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8e2nRfMCQ7l2dW3g",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "arnio93@gmail.com",
          "mode": "list",
          "cachedResultName": "arnio93@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `La hora de inicio del evento.`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `La hora del fin del evento`, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attendees', `La dirección de correo electrónico del participante.`, 'string') }}"
          ],
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `El título del evento.`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        240,
        920
      ],
      "id": "66929859-6f85-499a-b51e-e8eb956a07c6",
      "name": "createEventWithAttendee",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8e2nRfMCQ7l2dW3g",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        900,
        900
      ],
      "id": "1b134116-19d0-4398-ae71-3645e5115f22",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "resource": "all",
        "limit": 20,
        "additionalFields": {
          "keyword": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Keyword', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.hackerNewsTool",
      "typeVersion": 1,
      "position": [
        1040,
        900
      ],
      "id": "f81ae760-c5f4-4872-9119-024d9ff853a6",
      "name": "Hacker News"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1180,
        900
      ],
      "id": "a8eaac85-6a41-4cc0-a860-4d5fc7876354",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "c93pjK8HXFMnBhlu",
          "name": "SerpAPI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "markRead": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "saveReplyDraft": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getEmails": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "sendReply": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "sendEmail": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "saveEmailDraft": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "markUnread": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "labelEmails": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getLabels": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getContacts": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "addContact": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "updateEvent": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "deleteEvent": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getEvents": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "createEvent": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "createEventWithAttendee": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Hacker News": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3450806e-e59d-4d24-85e3-061be63b2344",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7535172938d7a44f1bcd5eddbb7e2e2dae673c629d4f92b0b078df87a2c8beb4"
  },
  "id": "DgKgCvfF6svJiwBe",
  "tags": []
}