Agentes de IA/OfficeAssist Agent/Agente_Total.json
{
  "name": "Agente Total",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -360,
        140
      ],
      "id": "f1b3cc50-3e1d-47f4-81a1-52a6d6f8a2bf",
      "name": "Telegram Trigger",
      "webhookId": "5f3fe51b-27a9-41ba-927e-f00ea5ae79c2",
      "credentials": {
        "telegramApi": {
          "id": "jSN5Wvm4Tr4GsGGK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8d4b916c-d38a-455f-a10a-0c8e440bfe67",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -160,
        140
      ],
      "id": "ebbf56b0-e4b7-4d07-8971-09736972d633",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e4145e69-b00c-43dc-bf65-7647a862fbe4",
              "name": "text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        60
      ],
      "id": "6adaec21-0e35-4690-8603-6e538ecb4d64",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# Rol\nEres el asistente personal de Diego. Dispones de múltiples herramientas y actuarás con profesionalismo, dinamismo e innovación, adaptándote a las necesidades de cada tarea.\n\n# Comportamiento\n\nResponde de forma concisa, clara y directa, sin rodeos, pero manteniendo siempre un tono amigable, empático y profesional.\n\nUtiliza el humor ágil e inteligente cuando sea apropiado.\n\nMantente enfocado en la tarea y adapta tus respuestas al contexto, aprovechando la memoria de conversaciones previas para brindar respuestas coherentes y consistentes.\n\nUsa la tool de Think cuando se requiera pensar a fondo en una tarea compleja.\n# Fecha y Hora\nFecha y hora actuales: {{ $now }}\n\n# Herramientas Disponibles\nUtiliza la herramienta adecuada según la tarea:\n\nGmail_Tool\n\nEmplea esta herramienta para gestionar correos electrónicos.\n\nAl enviar correos: asegúrate de que estén bien formateados, con un cuerpo de texto detallado y una firma al final que diga “NeuraX”.\n\nNo uses placeholders o nombres genéricos; siempre que sea posible, personaliza el contenido.\n\nCalendar_Tool\n\nUsa esta herramienta para crear, modificar o consultar eventos y tareas en el calendario.\n\nsearch_agent\n\nUtilízala para buscar información en la web, HackerNews, Wikipedia, entre otros recursos.\n\nx_posts\n\nUsa esta herramienta para realizar publicaciones en la plataforma X.\n\n# Manejo de Contexto y Memoria\n\nRecuerda la información previa de la conversación para mantener la coherencia en las respuestas.\n\nSi la información proporcionada es insuficiente para dar una respuesta completa, solicita al usuario una clarificación antes de continuar.\n\n# Directrices Adicionales y Restricciones\n\nNo incluyas información irrelevante o detalles inventados.\n\nSi encuentras ambigüedad en la tarea, pide aclaraciones de inmediato.\n\nMantén siempre el estilo formal y profesional, adaptado al contexto del usuario.\n\n# Formato de Respuesta\n\nOrganiza tus respuestas en secciones o listas cuando sea necesario para facilitar la comprensión.\n\nSi la tarea involucra el envío de un correo electrónico, asegúrate de estructurarlo correctamente (saludo, cuerpo, cierre y firma “NeuraX”).\n\nUsa emojis cuando te comuniques por Telegram.\n\n# Conclusión\nActúa de forma proactiva, resolutiva e innovadora, asegurándote de utilizar el lenguaje y el tono adecuados para cada situación. Adapta tus respuestas de acuerdo a las herramientas disponibles y la información proporcionada, siempre con un enfoque directo y profesional.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        600,
        160
      ],
      "id": "9c1709e3-4f1b-4eea-824a-63c03bc2d882",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        100,
        200
      ],
      "id": "2f666abb-27e9-4314-b563-d66835358659",
      "name": "Telegram",
      "webhookId": "52f4d0ed-5036-4014-bdcd-8ff723ddfb33",
      "credentials": {
        "telegramApi": {
          "id": "jSN5Wvm4Tr4GsGGK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        300,
        200
      ],
      "id": "488bb6bf-bc80-49d3-8ac0-95f1a3a5f839",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ly68iNqDXE2rlgRe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Switch').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        380,
        380
      ],
      "id": "55219cf1-fdca-49f7-a464-725ca8d7c6c1",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1180,
        160
      ],
      "id": "0e25f4fa-ecde-4253-a05d-0e3b4627982a",
      "name": "Telegram1",
      "webhookId": "19dc4578-bd30-4424-ba2e-23e9d33a6db7",
      "credentials": {
        "telegramApi": {
          "id": "jSN5Wvm4Tr4GsGGK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "name": "search_agent",
        "description": "use this tool to search the web, hackernews and wikipedia",
        "workflowId": {
          "__rl": true,
          "value": "sGB2OAtJ9vyAZFoi",
          "mode": "list",
          "cachedResultName": "Search Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        500,
        380
      ],
      "id": "716f3b5e-4fe9-4452-91ce-f307c057000e",
      "name": "search_agent"
    },
    {
      "parameters": {
        "name": "Calendar_Tool",
        "description": "use this tool everytime you need to do something in the calender",
        "workflowId": {
          "__rl": true,
          "value": "Re43CM6zM3w5Kqse",
          "mode": "list",
          "cachedResultName": "Calendar Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        620,
        380
      ],
      "id": "284ae7d5-03fa-40c5-9ca3-cf291bc231e5",
      "name": "Calendar_Tool"
    },
    {
      "parameters": {
        "name": "Gmail_Tool",
        "description": "Use this tool everytime you need to do something with mails",
        "workflowId": {
          "__rl": true,
          "value": "hRCv51l3lnCQkjok",
          "mode": "list",
          "cachedResultName": "Mail Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        740,
        380
      ],
      "id": "7c1496ec-abd1-428d-b504-5d3718f00b33",
      "name": "Gmail_Tool"
    },
    {
      "parameters": {
        "name": "x_posts",
        "description": "Use this tool to post on x",
        "workflowId": {
          "__rl": true,
          "value": "ImKCw42yN7qx6VZy",
          "mode": "list",
          "cachedResultName": "Social Media"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        860,
        380
      ],
      "id": "d621bcdb-9b09-408c-a25c-77052e1f916d",
      "name": "x_posts"
    },
    {
      "parameters": {
        "name": "contact_agent",
        "description": "use this tool to get contacts and save new contacts",
        "workflowId": {
          "__rl": true,
          "value": "i26pBDjVvsPFBgZH",
          "mode": "list",
          "cachedResultName": "Contact Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        980,
        380
      ],
      "id": "8aac82f2-8d42-45d3-ac73-6d2f7a292c6b",
      "name": "contact_agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are Sally, a funny guy that makes sarcastic comments and funny anekdotes about topics.\nYou try to roast the topics and insult a bit.\nYou answer really short, just 1 punnchy lines.\n\ntopics: {{ $json.output }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1020,
        -260
      ],
      "id": "5e899943-1e5e-42d2-97f9-5da202772118",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1120,
        -40
      ],
      "id": "589c90ff-a4e7-4058-a146-8a7f7f063f6b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ly68iNqDXE2rlgRe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "model": "tts-1-hd",
        "input": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1400,
        -260
      ],
      "id": "e713370f-f8b1-421c-8c30-0372acd104a5",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "ly68iNqDXE2rlgRe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1620,
        -260
      ],
      "id": "b8853e7e-4a48-45b5-b99e-9ba82646cced",
      "name": "Telegram2",
      "webhookId": "a34f46cb-6fd6-4b81-94df-2cc341f3636f",
      "credentials": {
        "telegramApi": {
          "id": "jSN5Wvm4Tr4GsGGK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        260,
        380
      ],
      "id": "4712ea6e-97a0-4cb3-958e-159ce9b8519b",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "fLDtOsKQQqHZ6y4D",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "description": "Usa esta herramienta para razonar antes de responder tareas complejas o confusas."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        1100,
        380
      ],
      "id": "c5e689a2-d3b4-4d5b-a3b0-b59e888d03eb",
      "name": "Think"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "search_agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar_Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail_Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "x_posts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "contact_agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        []
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "360df2ec-47e1-4590-88c7-0104a3ca6561",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7535172938d7a44f1bcd5eddbb7e2e2dae673c629d4f92b0b078df87a2c8beb4"
  },
  "id": "JWk8YiXMOqk0XxR3",
  "tags": []
}