Agentes de IA/OfficeAssist Agent/Contact_Agent.json
{
  "name": "Contact Agent",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -640,
        300
      ],
      "id": "91a5d6a4-02b4-451b-a91b-832068b3c1e1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ly68iNqDXE2rlgRe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "a83ba6eb-26ae-41fd-a0bb-faa22b8501dd",
      "name": "Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "An error occurred. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        180
      ],
      "id": "c6ad3822-1892-48eb-b8ed-66500c1cf755",
      "name": "Try Again"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -740,
        80
      ],
      "id": "534ef987-febd-4ca7-a573-6c9effd5ded4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UH1MtHWwe7rx1Ns44mQ3NKvBbm1cEnLGCtcldKGxUC8",
          "mode": "list",
          "cachedResultName": "Contactos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UH1MtHWwe7rx1Ns44mQ3NKvBbm1cEnLGCtcldKGxUC8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1921102704,
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UH1MtHWwe7rx1Ns44mQ3NKvBbm1cEnLGCtcldKGxUC8/edit#gid=1921102704"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -400,
        380
      ],
      "id": "b7d658cf-29f8-404b-9f9e-59911283b5b0",
      "name": "getContacts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "M9V4oAoO54w0PNDS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1UH1MtHWwe7rx1Ns44mQ3NKvBbm1cEnLGCtcldKGxUC8",
          "mode": "list",
          "cachedResultName": "Contactos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UH1MtHWwe7rx1Ns44mQ3NKvBbm1cEnLGCtcldKGxUC8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1921102704,
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UH1MtHWwe7rx1Ns44mQ3NKvBbm1cEnLGCtcldKGxUC8/edit#gid=1921102704"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Names",
              "displayName": "Names",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Emails",
              "displayName": "Emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -240,
        380
      ],
      "id": "0ddf70fd-1880-4ca8-9948-5c6c5c16986d",
      "name": "addContact",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "M9V4oAoO54w0PNDS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Role  \nYou are an assistant for contact management. Your tasks include retrieving contacts, adding new contacts, and updating contact information. You can find names and emais in the columns Names and Emails\n\n# Tools  \n\n## getContacts  \nUse this tool to look for contact information. Names and Emails.  \n\n## addContact  \nUse this tool to save new contact information.  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -520,
        80
      ],
      "id": "a0caf487-ba41-4f92-88af-136e4f22c7fc",
      "name": "Contact Agent",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Contact Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getContacts": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "addContact": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contact Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5c3074e7-aae7-4cba-b6f6-a51b0512774f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7535172938d7a44f1bcd5eddbb7e2e2dae673c629d4f92b0b078df87a2c8beb4"
  },
  "id": "i26pBDjVvsPFBgZH",
  "tags": []
}