Agentes de IA/OfficeAssist Agent/Mail_Agent.json
{
  "name": "Mail Agent",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -680,
        480
      ],
      "id": "2c82a31d-e88a-4b6e-af42-fb9a4fe7a9fa",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ly68iNqDXE2rlgRe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `El ID del mensaje del correo electrónico.`, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        280,
        580
      ],
      "id": "05588851-32ea-4e84-bdac-d9c5c1622ada",
      "name": "markRead",
      "webhookId": "c0ae7f4e-31be-41cd-a899-883b4f5685f6",
      "credentials": {
        "gmailOAuth2": {
          "id": "GTyliMmEKBtZtOwc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `El asunto del correo electrónico.`, 'string') }}",
        "emailType": "html",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `El mensaje del correo electrónico.`, 'string') }}",
        "options": {
          "threadId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Thread_ID', `El ID del hilo del correo electrónico al que debes responder.`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        120,
        580
      ],
      "id": "0785a432-b68e-4f2d-a6d3-777803a2a270",
      "name": "saveReplyDraft",
      "webhookId": "0d64fe08-acf1-4900-99f5-0a34c3b86dbf",
      "credentials": {
        "gmailOAuth2": {
          "id": "GTyliMmEKBtZtOwc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "simple": false,
        "filters": {
          "labelIds": [
            "UNREAD",
            "INBOX"
          ],
          "sender": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender', `El remitente del correo electrónico.`, 'string') }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -440,
        580
      ],
      "id": "64eb8f32-4852-47b5-ae3d-9a75c2e15377",
      "name": "getEmails",
      "webhookId": "312f5bbf-7614-4d1a-befc-7592c0367f92",
      "credentials": {
        "gmailOAuth2": {
          "id": "GTyliMmEKBtZtOwc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `El ID del hilo del correo electrónico al que debes responder.`, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `El contenido del correo electrónico.`, 'string') }}",
        "options": {
          "appendAttribution": false,
          "senderName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender_Name', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -20,
        580
      ],
      "id": "40700731-76c3-4dde-bfd4-ff7dcdbe6288",
      "name": "sendReply",
      "webhookId": "bc2509c0-b19d-497e-b0ca-e22aa4c362f2",
      "credentials": {
        "gmailOAuth2": {
          "id": "GTyliMmEKBtZtOwc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', `La dirección de correo electrónico del destinatario.`, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `El asunto del correo electrónico.`, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `El contenido del correo electrónico.`, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -300,
        580
      ],
      "id": "00ccf56a-7ec2-472c-9b24-bdebb1994e3c",
      "name": "sendEmail",
      "webhookId": "180e0df0-cd79-4ee1-a3b7-660825b2a686",
      "credentials": {
        "gmailOAuth2": {
          "id": "GTyliMmEKBtZtOwc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `El asunto del correo electrónico.`, 'string') }}",
        "emailType": "html",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `El mensaje del correo electrónico.`, 'string') }}",
        "options": {
          "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To_Email', `El correo electrónico del destinatario.`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -160,
        580
      ],
      "id": "a1b5177e-30c1-4152-a5d8-6052e5e56bd2",
      "name": "saveEmailDraft",
      "webhookId": "82eec91a-c9a1-40ed-bfc8-556c153390f7",
      "credentials": {
        "gmailOAuth2": {
          "id": "GTyliMmEKBtZtOwc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsUnread",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `El ID del mensaje del correo electrónico.`, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        440,
        580
      ],
      "id": "1743a731-f664-4c6f-a20f-a22c376cb8be",
      "name": "markUnread",
      "webhookId": "438ce016-c775-4f22-943e-619915336683",
      "credentials": {
        "gmailOAuth2": {
          "id": "GTyliMmEKBtZtOwc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `El ID del mensaje.`, 'string') }}",
        "labelIds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', `El ID de la etiqueta.`, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        740,
        580
      ],
      "id": "cf332dd4-9c04-4879-ade6-8c4cd033d67a",
      "name": "labelEmails",
      "webhookId": "9af105a2-4f93-4089-8908-ffb714bf1740",
      "credentials": {
        "gmailOAuth2": {
          "id": "GTyliMmEKBtZtOwc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "label"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        600,
        580
      ],
      "id": "b74dc3a6-7fa2-4ae2-ab16-0947d221c806",
      "name": "getLabels",
      "webhookId": "39cedbc5-7f7a-4900-889d-51d32f38d69b",
      "credentials": {
        "gmailOAuth2": {
          "id": "GTyliMmEKBtZtOwc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -740,
        160
      ],
      "id": "881405fa-88f4-4790-a95f-6b4fe9e49b4c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "71e0eefa-a140-48b9-aee8-6007b10eb4a7",
      "name": "Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "An error occurred. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        160
      ],
      "id": "99c4232d-d35b-4f20-a04c-86cbc7e57d2f",
      "name": "Try Again"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Role  \nYour task is to manage, read, and write Diego`s emails. Make sure to use the correct tool based on the request.  \n\n# INFORMATION  \n- date and time: **{{ $now }}**  \n- You format emails professionally, following standard email writing conventions. \n- The name at the end of the email, after the closing, is always **\"NeuraX\"**.  \n\n# Examples:  \n*\"Send an email to...\"* → Use the **sendEmail** tool  \n*\"Reply to this email with a draft...\"* → Use the **saveReplyDraft** tool  \n\n# TOOLS  \n\n## getEmails  \nUse this tool to retrieve unread emails.  \n\n## saveEmailDraft  \nUse this tool to create a draft of an email.  \n\n## sendEmail  \nUse this tool to send an email.  \n\n## saveReplyDraft  \nUse this tool to save a draft for an email reply. You must first use **\"getEmails\"** to retrieve the thread ID of the email you need to reply to with a draft.  \n\n## sendReply  \nUse this tool to send an email reply. You must first use **\"getEmails\"** to retrieve the message ID of the email you want to reply to.  \n\n## getLabels  \nUse this tool to retrieve available labels.  \n\n## labelEmails  \nUse this tool to label an email. First, use **\"getEmails\"** to get the message ID of the email you want to label. Then, use **\"getLabels\"** to obtain the label ID.  \n\n## markRead  \nUse this tool to mark an email as read. You must first use **\"getEmails\"** to get the message ID of the email to be marked.  \n\n## markUnread  \nUse this tool to mark an email as unread. You must first use **\"getEmails\"** to get the message ID of the email you want to mark as unread.  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -440,
        180
      ],
      "id": "c4dd9482-07c9-45d8-97b0-aa0820b97b6d",
      "name": "Email Agent",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "markRead": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "saveReplyDraft": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getEmails": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "sendReply": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "sendEmail": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "saveEmailDraft": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "markUnread": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "labelEmails": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getLabels": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Email Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "adfcc687-37cc-4a85-a316-cecdf3aaa596",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7535172938d7a44f1bcd5eddbb7e2e2dae673c629d4f92b0b078df87a2c8beb4"
  },
  "id": "hRCv51l3lnCQkjok",
  "tags": [
    {
      "createdAt": "2025-04-09T15:50:41.074Z",
      "updatedAt": "2025-04-09T15:50:41.074Z",
      "id": "H3kHOR3RHVjWeOE6",
      "name": "Maybe to Big."
    }
  ]
}